<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.pgg.qboxdemo">

    <!-- 需要动态申请的权限 -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- 后台自动授予的权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!-- 小米推送配置 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <permission android:name="com.ocnyang.qbox.app.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="com.ocnyang.qbox.app.permission.MIPUSH_RECEIVE"/>
    <!-- 小米推送配置 -->

    <!-- ShareSDK 配置 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <!-- ShareSDK 配置 -->

    <!-- SMS_SDK配置 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <!-- SMS_SDK 配置 -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:name=".global.MyApplication"
        tools:replace="android:name,android:icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".module.start.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StartTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".module.main.MainActivity" android:screenOrientation="portrait"/>

        <activity android:name=".module.start.welcome.WelcomeGuideActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".me.CalendarActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".me.FlashActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".me.LEDActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".me.SettingActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".me.UserInfoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".me.weather.WeatherActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".me.ZxingActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".news_details.NewsDetailsActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".wechat.WeChatDetailsActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".module.find.FindMoreActivity" android:screenOrientation="portrait"/>
        <activity android:name=".module.find.ChinaCalendarActivity" android:screenOrientation="portrait"/>
        <activity android:name=".module.find.ConstellationActivity" android:screenOrientation="portrait"/>
        <activity android:name=".module.find.JokeActivity" android:screenOrientation="portrait"/>
        <activity android:name=".WebViewActivity" android:screenOrientation="portrait"/>
        <activity android:name=".module.find.QueryInfoActivity" android:screenOrientation="portrait"/>
        <activity android:name=".module.weather.AddressActivity" android:screenOrientation="portrait"/>
        <activity android:name=".me.PinImageActivity" android:screenOrientation="portrait"/>

        <activity
            android:name=".me.LEDMagicActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_ledmagic"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme"/>
        <activity
            android:name=".me.LEDAutoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_ledauto"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme"/>
        <activity android:name=".me.LEDSingleActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_ledsingle"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme"/>

        <activity android:name=".me.ZxingStartActivity" android:screenOrientation="portrait"/>

        <activity android:name=".me.AboutMeActivity" android:screenOrientation="portrait"/>

        <activity android:name=".me.AccountActivity" android:screenOrientation="portrait"/>

        <activity android:name=".me.StatementActivity" android:screenOrientation="portrait"/>

        <activity android:name=".me.WeatherAddressActivity" android:screenOrientation="portrait"/>

    </application>

</manifest>